<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <div class="form_box bg-primary border- 0 rounded flex-column p-3 container" >
            <h1 class="text-light text-center">Dojo Survey</h1>
            <form action="/collect" method="POST">
                <label for="name" class="col-form-label-lg">Your Name: </label>
                <input type="text" name="name" class="form-control">
                <label for="location" class="col-form-label-lg">Dojo Location: </label>
                <select name="location" id="location" class="custom-select">
                    <option value="Los Angeles">Los Angeles</option>
                    <option value="Honolulu">Honolulu</option>
                    <option value="Miami">Miami</option>
                </select>
                <label for="language" class="col-form-label-lg">Favorite Language: </label>
                <select name="language" id="language" class="custom-select">
                    <option value="Python">Python</option>
                    <option value="Java">Java</option>
                    <option value="MERN">MERN</option>
                </select>
                <label for="comments" class="col-form-label-lg">Comments (optional): </label>
                <textarea name="comments" id="comments" cols="60" rows="5" class="form-control"></textarea>
                <input type="submit" value="Submit" class="submit btn-block mt-3 hover">
            </form>
        </div>
    </div>
</body>
</html>